@(user: Option[models.User], election : models.Election)(implicit request: RequestHeader, messages: Messages)


@import helper._
@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default


@booleanResult = @{List("false","true")}

@voterVisibility = @{ Map("Private" -> "false", "Public" -> "true") }

@ballotVisibility = @{List("Public","Visible","Hidden")}

@wikiPages = @{ Map("Borda" -> "https://en.wikipedia.org/wiki/Borda_count", "Contingent Method" -> "https://en.wikipedia.org/wiki/Contingent_election",
                    "Coomb’s" -> "https://en.wikipedia.org/wiki/Coombs%27_method", "Copeland" -> "https://en.wikipedia.org/wiki/Copeland",
                    "Cumulative voting" -> "https://en.wikipedia.org/wiki/Cumulative_voting", "Exhaustive ballot" -> "https://en.wikipedia.org/wiki/Exhaustive_ballot",
                    "Exhaustive ballot with dropoff" -> "https://en.wikipedia.org/wiki/Exhaustive_ballot","Kemeny-Young" -> "https://en.wikipedia.org/wiki/Kemeny%E2%80%93Young_method",
                    "Meek STV" -> "https://en.wikipedia.org/wiki/Counting_single_transferable_votes#Meek", "Minimax Condorcet" -> "https://en.wikipedia.org/wiki/Minimax_Condorcet",
                    "Oklahoma Method" -> "https://en.wikipedia.org/wiki/Oklahoma_primary_electoral_system","Preferential block voting" -> "https://en.wikipedia.org/wiki/Preferential_block_voting",
                    "Proportional Approval voting" -> "https://en.wikipedia.org/wiki/Proportional_approval_voting", "Random Ballot" -> "https://en.wikipedia.org/wiki/Random_ballot",
                    "Range Voting" -> "https://en.wikipedia.org/wiki/Range_voting", "Ranked Pairs" -> "https://en.wikipedia.org/wiki/Ranked_pairs",
                    "Satisfaction Approval voting" -> "https://en.wikipedia.org/wiki/Satisfaction_approval_voting", "Schulze" -> "https://en.wikipedia.org/wiki/Schulze_method",
                    "Sequential Proportional Approval voting" -> "https://en.wikipedia.org/wiki/Sequential_proportional_approval_voting",
                    "Top Cycle" -> "https://en.wikipedia.org/wiki/Smith_set", "Uncovered Set" -> "https://en.wikipedia.org/wiki/Landau_set",
                    "Warren STV" -> "https://en.wikipedia.org/wiki/Counting_single_transferable_votes#Warren",
                    "Approval" -> "#",
                    "Baldwin" -> "#",
                    "Egalitarian" -> "#",
                    "Instant Runoff 2-round" -> "#",
                    "Majority" -> "#",
                    "Nanson" -> "#",
                    "Scottish STV" -> "#",
                    "SMC" -> "#"
                    )}


@import java.lang.String; var str=""
@import java.text.SimpleDateFormat; val curTimeFormat = new SimpleDateFormat("MM/dd/yyyy")




@main(Messages("home.title"), user) {
  <div class="container">
    <div class="container centered">
        <div class="well">
            <h1>Edit your election</h1>
        </div>
    </div>
    <div >
      <div class="container">
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
              <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle" disabled>1</a>
                <p>Basic Settings</p>
              </div>
              <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled>2</a>
                <p>Details</p>
              </div>
              <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled>3</a>
                <p>Privacy</p>
              </div>
            </div>
        </div>
        @b3.form(CSRF(routes.ElectionController.update())) {
          <input type="hidden" value='@election.id' name="id" >
          <div class="row setup-content" id="step-1">
            <div class="col-xs-12">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Election Name</label>
                  <input type="text" value='@election.name'class="form-control" name="name" placeholder="Election Name" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Description</label>
                  <input type="text" class="form-control"  value='@election.description' name="description" placeholder="Description" required>
                </div>
                <div class="form-group">
                  <label class="control-label" for="date">Start Date</label>
                  <input class="form-control" value='@curTimeFormat.format(election.start)' id="date" name="start" placeholder="MM/DD/YYY" type="text"/>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">End Date</label>
                  <input class="form-control" value='@curTimeFormat.format(election.end)' id="date" name="end" placeholder="MM/DD/YYY" type="text"/>
                </div>
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                </div>
            </div>
      </div>
      <div class="row setup-content" id="step-2">
        <div class="col-xs-12">
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleInputEmail1">Candidates</label>
              @for(e <- election.candidates){
                @{str = str + e + ","}
              }
              <input type="text" value=@str class="form-control taginput" name="candidates" data-role="tagsinput" required />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Number of vacancies</label>
              <span class="span-input">
                <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="noVacancies">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </span>
              <span class="span-input">
                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="noVacancies">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
              <div class="input-number-div">
                <input type="text" name="noVacancies" class="form-control input-number" value="1" min="1" max="10">
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Voting Algorithm</label>
                @for(value <- wikiPages.keySet){
                  @if(value == election.votingAlgo){
                    <div class="algoRadio algoRadio-success">
                      <input type="radio" id="@value" name="votingAlgo" value=@value checked>
                      <label for="@value">
                        <span class="algoRadio-title">@value</span>
                        <span class="algoRadio-description"><a href=@wikiPages(value) target="_blank"><i class='glyphicon glyphicon-info-sign'></i></a></span>
                      </label>
                    </div>
                  }else{
                    <div class="algoRadio algoRadio-success">
                      <input type="radio" id="@value" name="votingAlgo" value=@value>
                      <label for="@value">
                        <span class="algoRadio-title">@value</span>
                        <span class="algoRadio-description"><a href=@wikiPages(value) target="_blank"><i class='glyphicon glyphicon-info-sign'></i></a></span>
                      </label>
                    </div>
                  }
                }
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Realtime Result</label>
                @for(value <- booleanResult){
                  @if(value == election.realtimeResult.toString){
                    <div class="algoRadio algoRadio-success">
                      <input type="radio" id="realtimeResult@value" name="realtimeResult" value=@value checked>
                      <label for="realtimeResult@value">
                        <span class="algoRadio-title">@value</span>
                      </label>
                    </div>
                  }else{
                    <div class="algoRadio algoRadio-success">
                      <input type="radio" id="realtimeResult@value" name="realtimeResult" value=@value>
                      <label for="realtimeResult@value">
                        <span class="algoRadio-title">@value</span>
                      </label>
                    </div>
                  }
                }
            </div>
            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
          </div>
        </div>
      </div>
      <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleInputEmail1">Ballot visibility</label>
              @for(value <- ballotVisibility){
                @if(value == election.ballotVisibility){
                  <div class="algoRadio algoRadio-success">
                    <input type="radio" id="ballotVisibility@value" name="ballotVisibility" value=@value checked>
                    <label for="ballotVisibility@value">
                      <span class="algoRadio-title">@value</span>
                    </label>
                  </div>
                }else{
                  <div class="algoRadio algoRadio-success">
                    <input type="radio" id="ballotVisibility@value" name="ballotVisibility" value=@value>
                    <label for="ballotVisibility@value">
                      <span class="algoRadio-title">@value</span>
                    </label>
                  </div>
                }
              }
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Invite Voters</label>
              @for(value <- booleanResult){
                @if(value == election.isInvite.toString){
                  <div class="algoRadio algoRadio-success">
                    <input type="radio" id="isInvite@value" name="isInvite" value=@value checked>
                    <label for="isInvite@value">
                      <span class="algoRadio-title">@value</span>
                    </label>
                  </div>
                }else{
                  <div class="algoRadio algoRadio-success">
                    <input type="radio" id="isInvite@value" name="isInvite" value=@value>
                    <label for="isInvite@value">
                      <span class="algoRadio-title">@value</span>
                    </label>
                  </div>
                }
              }
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Voter list visibility</label>
              @for(value <- voterVisibility.keySet){
                @if(voterVisibility(value) == election.voterListVisibility.toString){
                  <div class="algoRadio algoRadio-success">
                    <input type="radio" id="voterListVisibility@value" name="voterListVisibility" value=@voterVisibility(value) checked>
                    <label for="voterListVisibility@value">
                      <span class="algoRadio-title">@value</span>
                    </label>
                  </div>
                }else{
                  <div class="algoRadio algoRadio-success">
                    <input type="radio" id="voterListVisibility@value" name="voterListVisibility" value=@voterVisibility(value)>
                    <label for="voterListVisibility@value">
                      <span class="algoRadio-title">@value</span>
                    </label>
                  </div>
                }
              }
            </div>
              <input type="hidden" value='@election.creatorEmail' class="form-control" name="creatorEmail" value=@user.get.email>
              <input type="hidden" value='@election.creatorName' class="form-control" name="creatorName" value=@user.get.name>
            <button class="btn btn-success btn-lg pull-right" type="submit">Finish!</button>
          </div>
        </div>
      </div>
  }
  </div>
</div>
<br>
<br>
<br>
<br>
<script type='text/javascript' src='@routes.Assets.at("/javascripts/editElection.js")'> </script>
<script type='text/javascript' src='@routes.Assets.at("/javascripts/addEdit.js")'> </script>
</div>
}
